# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app

# # Data
# *.pkl
# *.pkl

GeometricRefine/build/
GeometricRefine/Bin/
GeometricRefine/Lib/

**/__pycache__
chamferdist/build
chamferdist/chamferdist.egg-info
chamferdist/dist

# NVD baselines
.vscode
nvd_test.pkl
**bak**
experiments
gurobi_wrapper.cpython-37.pyc
data/default/test/packed/packed_000000.pkl